<div class="app-componente">
    <div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Type inch</mat-label>
            <input matInput type="number" placeholder="Ex. 139" [(ngModel)]="h_in">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="getPairs()">search</button>
    </div>
    <div>
        <!-- <table>
            <thead>
                <tr>
                    <th>Name (H. inches)</th>
                    <th colspan="2">Pairs Name (H. inches)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of nbaPlayers">
                    <td rowspan="">{{player.pairs.length | json}}|{{player.first_name}} {{player.last_name}} ({{player.h_in}})</td>
                </tr>
            </tbody>
        </table> -->
        <!-- <td *ngFor="let pair of player.pairs">{{pair.first_name}} {{pair.last_name}} ({{pair.h_in}})</td> -->


        <table mat-table [dataSource]="nbaPlayers" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position" justify="start">
                <th mat-header-cell *matHeaderCellDef> Name (H. inches) </th>
                <td mat-cell *matCellDef="let element" align="top">
                    <div class="sticky">{{element.first_name}} {{element.last_name}} ({{element.h_in}})</div>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Pairs Name (H. inches) </th>
                <td mat-cell *matCellDef="let element">
                    <div>
                        <ul>
                            <li *ngFor="let pair of element.pairs">{{pair.first_name}} {{pair.last_name}} ({{pair.h_in}})</li>
                        </ul>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>